
.c-main-nav {
    background-color: $g-color-primary;
    display: flex;
    justify-content: center;



}

.c-main-nav__circle {
    background-color: $g-color-primary;
    border-radius: 0 0 120px 120px;
    height: rem(60);
    margin: auto;
    width: rem(200);
    position: relative;
}

.c-main-nav__item {
    position:absolute;
}

.c-main-nav__item.is-active {
    background-color: #000;
}

.c-main-nav__item--west {
    right: 100%;
    top: 0;

}

.c-main-nav__item--south-west {
    right: 80%;
    top: 20%;

}

.c-main-nav__item--south{
    left: 50%;
    top: 100%;
    transform:translate(-50%);

}

.c-main-nav__item--south-east {
    left: 30%;
    top: 0%;

}

.c-main-nav__item--east {
    left: 100%;
    top: 0;

}
